* {
    box-sizing: border-box;
}

html{
    margin: 20px;
}

body {
    font-family: 'Arvo', serif;
    width: 960px;
    margin: 0 auto;
}

.nav{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0px 0px;

  li{
    display: inline;
  }
}



.nav-left li{
    margin-right: 8px;

  i{
    margin-right: 4px;
  }
}



.nav-right{
    float: right;

  li{
    margin-left: 4px;
  }
}

.nav-center{
    text-align: center;
    display: block !important;

  li{
    display: inline;
  }

  a{
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #333333;
  }
}

.nav-header{
    font-size: 9pt;
    color: #3ccccc;
}

.nav-sections{
    font-size: 14pt;
}

a.active {
    font-weight: bold;
}

.mast-head{
    border-style: solid none;
    border-width: 2px;
    margin: 5px 0px;
    padding: 15px 0px;

  .title{
    font-weight: bold;
    font-size: 36pt;
    text-align: center;
  }

  .date{
    font-size: 14pt;
    text-align: center;
  }
}

header{
    color: #333333;
}

.banner{
    background-color: #aaaaaa;
    height: 90px;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

.banner-action{
    position: absolute;
    right: 0;
    font-size: 12pt;
    color: white;
    line-height: 30px;
}

.banner-expander {
  span{
      float: left;
      line-height: inherit;
  }

  i{
      float: left;
      line-height: inherit;
      font-size: 30px;
  }
}

.banner-expander-checkbox{
    display: none;
}

.banner-expander-header {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    user-select: none;
}

#banner-expander-checkbox:not(:checked) ~ .banner .banner-expander .banner-expander-text-collapse {
    display: none;
}

#banner-expander-checkbox:not(:checked) ~ .banner .banner-expander .banner-expander-text-expand {
    display: block;
}

#banner-expander-checkbox:checked ~ .banner .banner-expander .banner-expander-text-collapse {
    display: block;
}

#banner-expander-checkbox:checked ~ .banner .banner-expander .banner-expander-text-expand {
    display: none;
}

#banner-expander-checkbox:checked ~ .banner {
    height: 180px;
}

.banner-message {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 18pt;

  p {
    margin: 25px 10px 0 10px;
  }
}

.column {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: top;
}

.column-wide {
    width: 66%;
}

.column-narrow {
    width: 33%;
}

.column-equal {
    width: 49%;
}

.content {
  h1 {
    margin: 0;
  }
}

article {
  .location {
    font-weight: bold;
    margin-right: 5px;
  }
}

.home {

  aside article {
      font-size: 12pt;
      border-bottom: 1px solid;
      line-height: 15pt;
      padding-bottom: 5px;
      padding-top: 5px;

    &:last-of-type {
      border-bottom: none;
    }

    &:first-of-type {
      padding-top: 0px;
    }

    h1 {
      font-weight: bold;
      font-style: italic;
      font-size: 19pt;
      line-height: 20pt;
    }
  }



  .main article {
      font-size: 10pt;
      line-height: 15pt;

    .video {
      width: 100%;
      background-color: #000000;
      line-height: 300px;
      color: white;
      text-align: center;
    }

    .photo {
      float: right;
      width:100px;
      margin-left: 5px;
      background-color: #000000;
      color: white;
      text-align: center;
      line-height: 100px;
    }

    h1 {
      font-weight: bold;
      font-style: italic;
      font-size: 16pt;
      line-height: 20pt;
    }

    &:first-of-type h1 {
      font-weight: normal;
    }
  }



  .opinion>h1 {
      font-size: 16pt;
      font-weight: normal;
      font-style: italic;
      text-align: center;
  }

  .opinion article {
    font-size: 10pt;
    line-height: 15pt;

    h1 {
      font-size: 12pt;
      line-height: 15pt;
      font-style: italic;
      font-weight: normal;
    }
    .photo {
      width: 100%;
      line-height: 100px;
      background-color: #000000;
      color: white;
      text-align: center;
    }
  }

  .travel>h1 {

    &:after {
      content: ">>>>>>>>>>>>>>>>>>>>>>>>>>";
      margin-left: 2px;
      font-weight: normal;
      color: #cccccc;
    }
  }

  .travel article {
    font-size: 10pt;
    line-height: 15pt;

    h1 {
      font-weight: bold;
      font-size: 12pt;
    }

    .photo {
      width: 100%;
      line-height: 100px;
      background-color: #000000;
      color: white;
      text-align: center;
      margin-bottom: 3px;
    }
  }

}
