<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Html5 Assignment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/html5.css">

  </head>
  <body>
    {{content-for 'body'}}
    <script src="assets/vendor.js"></script>
    <script src="assets/html5.js"></script>
  </body>
</html>
