<section class="column column-wide">
    <article>
        <h1>{{main.headLine}}</h1>
        {{#for-loop times=numberOfImages}}
            <div class="photo">[PHOTO]</div>
        {{/for-loop}}
        {{main.location}}{{main.fullStory}}
    </article>
</section>

<section class="column column-narrow">
    <article>
        <h1>{{aside.headLine}}</h1>
        {{aside.location}}{{aside.fullStory}}
    </article>
</section>
