<header>

    <!-- dummy navigation section -->
    <ul class="nav nav-left nav-header">
        <li><i class="fa fa-bars"></i>SECTIONS</li>
        <li><i class="fa fa-search"></i>SEARCH</li>
    </ul>
    <ul class="nav nav-right nav-header">
        <li class="username">mcomer</li>
        <li><i class="fa fa-cogs"></i></li>
    </ul>
    <!-- end dummy navigation section -->

    <div class="mast-head">
        <div class="title">
            CAPTECH.IO NEWS
        </div>
        <div class="date">
            {{now}}
        </div>
    </div>

</header>