<input type="checkbox" class="banner-expander-checkbox" id="banner-expander-checkbox" />
<div class="banner">
    <div class="banner-action">

        <label class="banner-expander" for="banner-expander-checkbox">
            <div class="banner-expander-text-expand">
                <span>Click to expand</span><i class="fa fa-angle-down"></i>
            </div>
            <div class="banner-expander-text-collapse">
                <span>Click to collapse</span><i class="fa fa-angle-up"></i>
            </div>
            <div class="spacer" style="clear: both;"></div>
        </label>
    </div>
    <div class="banner-message">
        {{#each bannerMessages}}
            <p>{{message}}</p>
        {{/each}}
    </div>
</div>

<section class="column column-wide">

    <aside class="column column-narrow">
        {{#with featured.aside}}
            {{#each}}
                <article>
                    <h1>{{headLine}}</h1>
                    <span class="location">{{location}}</span>
                    {{{snippet}}}
                </article>
            {{/each}}
        {{/with}}
    </aside>

    <section class="column column-wide main">
        {{#with featured.main}}
            {{#each}}
                <article>
                    {{#if hasVideoPlaceholder}}
                        <div class="video">[VIDEO]</div>
                    {{/if}}
                    {{#for-loop times=numberOfImages}}
                        <div class="photo">[PHOTO]</div>
                    {{/for-loop}}
                    <h1>{{headLine}}</h1>
                    <span class="location">{{location}}</span>
                    {{{snippet}}}
                </article>
            {{/each}}
        {{/with}}
    </section>

</section>


<section class="column column-narrow">

    <section class="opinion">
        <h1>The Opinion Pages</h1>
        {{#with featured.opinion}}
            {{#each}}
                <article class="column column-equal">
                    <h1>{{headLine}}</h1>
                    <span class="location">{{location}}</span>
                    {{#for-loop times=numberOfImages}}
                      <div class="photo">[PHOTO]</div>
                    {{/for-loop}}
                    {{{snippet}}}
                </article>
            {{/each}}
        {{/with}}
    </section>

    <section class="travel">
        <h1>TRAVEL</h1>
        {{#with featured.travel}}
            {{#each}}
                <article class="column column-equal">
                    <h1>{{headLine}}</h1>

                    {{#for-loop times=numberOfImages}}
                      <div class="photo">[PHOTO]</div>
                    {{/for-loop}}
                    <span class="location">{{location}}</span>
                    {{{snippet}}}
                </article>
            {{/each}}
        {{/with}}
    </section>

</section>
