<nav>
<ul class="nav-center nav nav-sections">
    {{#each category in content}}
        <li>{{#link-to 'category' category.shortName}}{{category.displayName}}{{/link-to}}</li>
    {{/each}}
</ul>
</nav>